@model ProjetoApi.Models.Observacoes

@{
    ViewData["Title"] = "Criar Observação";
}

<h1 class="page-title">@ViewData["Title"]</h1>

<h4 class="form-title">Observações</h4>
<hr class="form-divider" />
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create" class="form-container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ObservacaoDescricao" class="control-label">Descrição</label>
                <input asp-for="ObservacaoDescricao" class="form-control" />
                <span asp-validation-for="ObservacaoDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoLocal" class="control-label">Local</label>
                <input asp-for="ObservacaoLocal" class="form-control" />
                <span asp-validation-for="ObservacaoLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoData" class="control-label">Data</label>
                <input asp-for="ObservacaoData" class="form-control" />
                <span asp-validation-for="ObservacaoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label">Animal</label>
                <select asp-for="AnimalId" class="form-control" asp-items="ViewBag.AnimalId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Usuário</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-create">Criar</button>
            </div>
            <div class="action-links">
                <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    :root {
        --primary-color: pink;
        --secondary-color: #6c757d;
        --danger-color: #dc3545;
    }

    /* Título da Página */

    .page-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
        color: var(--primary-color);
    }

    /* Botões */

    .btn {
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    }

    .btn-info {
        background-color: var(--primary-color);
        color: white;
    }

        .btn-info:hover {
            background-color: red;
        }

    .btn-secondary {
        background-color: var(--secondary-color);
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
        }

    .btn-primary {
        margin-left: 560px; /* Se ainda necessário */
    }

    .btn-danger {
        background-color: var(--danger-color);
        color: white;
    }

        .btn-danger:hover {
            background-color: #c82333;
        }

    /* Tabelas */

    .table {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

        .table th, .table td {
            text-align: center;
            padding: 10px;
        }
</style>
